body {
    background: #ddd;
}

.box {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 4px 0 #0088cc;
    color: #fff;
    background: #00aaff;
    cursor: pointer;
}

.box.o.line {
    background: red;
}

.box.x.line {
    background: blue;
}

#result {
    margin: 10px;
}

.btn {
    display: inline-block;
    margin: 10px;
    width: 40px;
    height: 20px;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 4px 0 #0088cc;
    color: #fff;
    background: #00aaff;
    cursor: pointer;
}

.btn.active {
    opacity: 1.0;
}
.btn.inactive {
    opacity: 0.5;
}

table {
    border-collapse: collapse;
}

td {
    width: 15px;
    text-align: center;
}

#twbtn {
    margin: 10px;
}
